@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --cardColor: #ffffff;
    --lightGray: #d6d4d4ad;
    --darkGray: hsl(0, 0%, 59%);
    --darkCyan: hsl(185, 75%, 39%);
    --darkDesaturated: hsl(229, 23%, 23%);
    --grayishBlue: hsl(227, 10%, 46%);
}
body{
    background-color: var(--darkCyan);
    background-image: url("images/bg-pattern-top.svg") , url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat , no-repeat;
    background-position: right 30vh bottom 40vh , left 30vh top 45vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}
#card_container{
    background-color: var(--cardColor);
    width: 90%;
    border-radius: 1rem;
    box-shadow: 1px 7px 30px -2px var(--grayishBlue);
}
#card__cover_image{
    background: url("images/bg-pattern-card.svg") no-repeat;
    border-radius: 1rem 1rem 0 0;
    background-size: 100%;
    width: 100%;
    height:30%;
}
#victor{
    transform: translateY(50%);
    display: block;
    margin: 0 auto;
    border: 0.5rem solid #ffffff;
    border-radius: 50%;
    height: 100%;
}
#card__profile_details{
    padding-top: 25%;
    height: 70%;
}
#profile__bio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
}
p{
  line-height: 2rem;  
}
.boldText{
    font-size: 18px;
    color: var(--darkDesaturated);
    font-weight: 700;
}
#age{
    font-size: 18px;
    color: var(--grayishBlue);
    font-weight: 400;
}
.lightText{
    font-size: 15px;
    color: var(--darkGray);
    font-weight: 400;
    letter-spacing: 0.1rem;
}
hr{
    border-top: 1px solid var(--lightGray);
    border-bottom: 0;
}
#profile__activity{
    display: flex;
    justify-content: space-around;
    margin-top:8%;
}
.activity{
    text-align: center;
}

@media only screen and (min-width: 500px) and (max-width: 650px) {
    #card_container{
        width: 60%;
    }
}
@media only screen and (min-width: 650px) and (max-width: 800px){
    #card_container{
        width: 50%;
    }
    body{
        background-position: right 40vh bottom 50vh , left 40vh top 50vh;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1050px){
    #card_container{
        width: 35%;
    }
    body{
        background-position: right 70vh bottom 50vh , left 70vh top 50vh;
    }
}
@media only screen and (min-width: 1050px) and (max-width: 1200px){
    #card_container{
        width: 30%;
    }
    body{
        background-position: right 80vh bottom 50vh , left 90vh top 50vh;
    }
}
@media only screen and (min-width: 1200px){
    #card_container{
        width: 25%;
    }
    body{
        background-position: right 100vh bottom 50vh , left 110vh top 50vh;
    }
}